body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_form5LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#form5LayoutGrid
{
   box-sizing: border-box;
   padding: 50px 0 50px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1000px;
}
#form5LayoutGrid > .row
{
   margin-right: 0;
   margin-left: 0;
}
#form5LayoutGrid > .row > .col-1, #form5LayoutGrid > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#form5LayoutGrid > .row > .col-1, #form5LayoutGrid > .row > .col-2
{
   float: left;
}
#form5LayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#form5LayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   width: 50%;
   text-align: left;
}
#form5LayoutGrid > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 25px 25px 25px;
}
#form5LayoutGrid:before,
#form5LayoutGrid:after,
#form5LayoutGrid .row:before,
#form5LayoutGrid .row:after
{
   display: table;
   content: " ";
}
#form5LayoutGrid:after,
#form5LayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#form5LayoutGrid > .row > .col-1, #form5LayoutGrid > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_form5Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 10px 0 10px 0;
   text-align: left;
}
#form5Heading
{
   color: #0D6EFD;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_form5Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 10px 0 10px 0;
   margin: 0;
   text-align: left;
}
#wb_form5Text
{
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_form5Text div
{
   text-align: left;
}
#wb_form5Text
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_form5Icon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0 0 20px 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#form5Icon1
{
   height: 64px;
   width: 64px;
}
#form5Icon1 i
{
   color: #0D6EFD;
   display: inline-block;
   font-size: 64px;
   line-height: 64px;
   vertical-align: middle;
   width: 64px;
}
#wb_form5Icon1:hover #form5Icon1 i
{
   color: #0D6EFD;
}
#form5Name
{
   box-sizing: border-box;
   line-height: 22px;
   margin: 5px 0 10px 0 ;
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   background-color: #FFFFFF;
   background-image: none;
   color: #999999;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: left;
   padding: 8px 12px 8px 12px;
}
#form5Name:focus
{
   border-color: #1ABC9C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(26,188,156,0.60);
   outline: 0;
}
#form5Email
{
   box-sizing: border-box;
   line-height: 22px;
   margin: 5px 0 10px 0 ;
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   background-color: #FFFFFF;
   background-image: none;
   color: #999999;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: left;
   padding: 8px 12px 8px 12px;
}
#form5Email:focus
{
   border-color: #1ABC9C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(26,188,156,0.60);
   outline: 0;
}
#form5Comments
{
   box-sizing: border-box;
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   background-color: #FFFFFF;
   background-image: none;
   color: #999999;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: left;
   padding: 8px 12px 8px 12px;
   margin: 5px 0 10px 0 ;
   overflow: auto;
   resize: none;
}
#form5Comments:focus
{
   border-color: #1ABC9C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(26,188,156,0.60);
   outline: 0;
}
#form5Button
{
   box-sizing: border-box;
   line-height: 37px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #0D6EFD;
   border-radius: 6px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 15px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 10px 0 10px 0 ;
}
#form5Button:focus
{
   outline: 0;
}
#wb_form5Note 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 10px 0 10px 0;
   margin: 0;
   text-align: left;
}
#wb_form5Note
{
   color: #B22222;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_form5Note div
{
   text-align: left;
}
#wb_form5Note
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
